#logo {
  height: 100px;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
div form {
  display: block;
  text-align: center;
  margin-right: auto;
  margin-left:auto;
}
#face {
  height: 40px;
  width: 40px;
  border-radius: 20px;
}
#bell {
  height: 20px;
  width: 20px;
  border-radius: 20px;
  background-color: #808080;
  margin-right: 20px;
  padding: 5px 5px 5px 5px;
  margin-bottom: 5px;
}
#grid {
  height: 20px;
  width: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}
#images {
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
#gmail {
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
#Darnell {
  display: block;
  float: left;
  margin-right: 20px;
  margin-top: 10px;
}
a:link {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 10px;
  margin-right: 10px;
}
li {
  display: inline;
} 
